<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="hosting-wave-c" value="../../.packages/hosting-wave-c" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="hosting-wave-c">
      <package pattern="WebUIToolkit.Hosting*" />
      <package pattern="WebUIToolkit.MVVM*" />
      <package pattern="WebUIToolkit.Desktop" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="Microsoft.*" />
      <package pattern="runtime.*" />
      <package pattern="System.*" />
    </packageSource>
  </packageSourceMapping>
  <config>
    <add key="globalPackagesFolder" value="../../.packages/hosting-package-tests/nuget" />
  </config>
</configuration>
